:root {
    --green: #53d153;
}

.bg-white { background: #fff; }
.bg-green { background: var(--green); }
.bg-gray { background: #f1f1f1; }

.bg-white h2 {color: #818181;}
.bg-white h6 {color: #b3b3b3;}
.bg-white hr {background-color: #818181}

.bg-green h2 {color: #207b20;}
.bg-green h6 {color: #2b9b2b;}
.bg-green hr {background-color: #207b20;}

.bg-gray h2 { color: #818181; }
.bg-gray h6 {color: #b3b3b3; }
.bg-gray hr { background-color: #818181; }

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0 0 12px 0;
    background: url(../img/header-bg.jpg) center/cover;    
}

nav { padding: 5px 30px; }
menu li a {
    font: bold 1em 'Proxima Nova';
    color: #fff;
    white-space: nowrap;
}

menu, #search {flex: 1 1 40%;}
#search { 
    display: flex;
    justify-content: end;
}

#search input, #search button {
    border: none;
    background: #ffffffcc;
    outline: none;
    height: 27px;
    padding: 0 1em;
}

#search input { border-radius: 1em 0 0 1em; }
#search input::placeholder {
    font: normal 1em 'Myriad Pro';
    color: #111;
}

#search button {
    display: flex;
    align-items: center; 
    border-radius: 0 1em 1em 0;
}

#search img { height: 20px; }
h1 {
    font: 700 2em 'Montserrat';
    color: #fff;
}
.work-button {
    display: inline-block;
    background: var(--green);
    color: #fff;
    border: none;
    border-radius: 27px;
    padding: 11px 28px;
    margin: 30px 0 25px 0;
    font: normal 1.4em 'Proxima Nova';
}

#scroll {
    font: 300 1em 'Proxima Nova';
    color: #111;
    background: #ffffffcc;
    padding: 3px 10px;
    border: none;
    border-radius: 13px;
}

main section {
    padding: 43px 0 0 0;
    text-align: center;
}

h2 {
    font: 300 1.2em 'Montserrat';
    letter-spacing: 4px;
}

hr {
    width: 43px;
    height: 2px;
    border: none;
}

h6 {font: 1em 'Myriad Pro';}

.article-box {
    padding: 48px 0;
    margin: 0 33px;
}

.article-box article {
    padding: 24px 40px;
}

.icons-box {
    width: 142px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0f3e0;
    border-radius: 27px;
    margin: 6px auto;
}

.icons-box i {
    color: var(--green);
    font-size: 5.38em;
}

article h3 {
    font: bold 1.5em 'Proxima Nova';
    color: #818181;
    padding: 12px;
}

article p {
    font: 300 1em 'Montserrat';
    color: #818181;
}

article a {
    font: bold 1em 'Proxima Nova';
    color: #fff;
    background: var(--green);
    padding: 7px 20px;
    border-radius: 20px;
    margin: 25px 0 0 0;
    display: inline-block;
}

#option {
    display: flex;
    justify-content: center;
    margin: 60px auto 0 auto;
}

#option a {
    font: 1em 'Proxima Nova';
    color: #2b9b2b;
    border: 1px solid #2b9b2b;
    background: #fff;
    padding: 7px 20px;
}

#option a:first-child {border-radius: 1em 0 0 1em;}
#option a:last-child {border-radius: 0 1em 1em 0;}

#option a.active, #option a:hover {
    color: #fff;
    background: #2b9b2b;;    
} 

#galery img {
    width: 95%;
    margin: 5px 0;
}

.btn-1, .btn-2 {
    display: inline-block;
    font: 1.1em 'Proxima Nova';
    color: #fff;
    background: #2b9b2b;
    padding: 9px 20px;
    margin: 0 0 53px 0;
    border-radius: 20px;
}

.btn-1 {
    color: #fff;
    background: #2b9b2b;
}

.btn-2 {
    color: #a59d9d;
    background: #dcdcdc;
}

#slider {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#text-comment {
    font: 1em 'Proxima Nova';
    color: #444;
    padding: 0 50px;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 190px;
    margin: 17px 0 60px 0;
}

#profile img {
    border: 1px solid #e1e1e1;
    border-radius: 50%;
}

#name {
    font: 1em 'Proxima Nova';
    color: #444;
}

#bio {
    text-align: left;
    padding: 0 8px;
}

#title {
    font: bold 1em 'Proxima Nova';
    color: #ccc;
}

#advertisement {padding: 70px 0 50px 0;}
#advertisement img {
    display: inline-block;
    margin: 30px 100px;
    object-fit: contain;
}

.staff-profile h5 {
    font: 1em 'Proxima Nova';
    color: #fff;
}
#staff-profile-box {margin: 55px 125px;}
.mini-logo-box, .mini-logo-box2 {
    display: flex;
    justify-content: center;
    width: 87px;
    border-radius: 45px;
}

.mini-logo-box {
    margin: 10px auto 63px auto;
    background: #ffffffcc;
}

.mini-logo-box2 {background: #fff;}

.mini-logo-box img, .mini-logo-box2 img {margin: 4px 3px;}
#button-box {background: #3eba3e;}
footer {text-align: center;}
.article-box2 {
    background: #333;
    padding: 0 33px;
}

.article-box2 article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-box2 h3 {
    font: 300 1em 'Montserrat';
    letter-spacing: 3px;
    color: #ddd;
    padding: 0;
    margin: 30px 0 0 0;
}

.article-box2 hr {background: #ddd;}
#subtext {
    margin: 27px 0 18px 0;
    font: 1em 'Proxima Nova';
    color: #ccc;
}

.mini-section {
    display: flex;
    align-items: center;
    height: 53px;
    margin: 10px 0;
}

.mini-section:first-child {margin: 18px 0 0 0;}
.mini-section img {
    width: 53px;
    height: 53px;
    border-radius: 4px;
}

.section-title {
    text-align: left;
    padding: 5px 7px;
}
.section-title h5 {
    font: 300 1em 'Montserrat';
    color: #ccc;
}
.tag {
    display: inline;
    font: 300 .75em 'Montserrat';
    border-radius: 4px;
    color: #fff;
    margin: 5px 0;
    padding: 3px 8px;
}

.magazine {background: var(--green);}
.ui-design {background: #ffba00;}
.photography {background: #089cea;}
.book {background: #f34c03;}

#address {
    margin: 25px auto 15px auto;
    font: 300 .9em 'Proxima Nova';
    color: #ccc;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    width: 322px;
    border: none;
    padding: 7px 4px;
    margin: 0 0 2px 0;
    font: 1em 'Proxima Nova';
    color: #777;
    outline: none;
}

.contact input:first-child {border-radius: 4px 4px 0 0;}
.contact textarea {
    width: 322px;
    height: 130px;
}

.contact button {
    height: 32px;
    width: 330px;
    font: .9em 'Proxima Nova';
    color: #fff;
    background: #2b9b2b;
    border: none;
    border-radius: 0 0 4px 4px;
    margin: 0 0 32px 0;
    padding: 0;
}

#channels {
    background: #212121;
    padding: 25px 0 30px 0;
}

#channels h2 {
    font: 300 1em 'Montserrat';
    letter-spacing: 3px;
    color: #101010;
}

#channels hr {width: 30px;}

#channels hr {background: #101010;}
#channels-box {margin: 17px 0 0 0;}
#channels-box img {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
#copyright {background: black;}
#author-info {
    font: 1em 'Proxima Nova';
    color: #fff;
    padding: 10px;
}
@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;    
    }
    menu {
        display: flex;
        order: -1;
        padding: initial;
    }

    menu li a {margin: 0 29px 0 0;}
    menu li a.active, menu li a:hover {border-top: 6px solid var(--green); }

    h1 { font-size: 3.4em; }
    .article-box, .article-box2 {
        display: flex;
        justify-content: space-around;
    }

    .article-box article {flex: 0 1 348px;}
    .article-box2 article {flex: 0 1 356px;}

    #galery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 42px 110px;
        max-width: 1200px;
        margin: auto;
    }
    
    #galery img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        margin: 15px;
    }
    #slider {max-width: 760px;}
    #text-comment {padding: 0 123px;}

    #advertisement {
        display: flex;
        justify-content: space-around;
        max-width: 1100px;
        margin: auto;
        flex: 0 1 920px;
        flex-wrap: wrap;
    }

    #advertisement img {margin: 0 90px 60px 30px;}
    #staff-profile-box {
        display: flex;
        justify-content: space-between;
        flex: 0 1 920px;
    }

    .vertical {
        width: 2px;
        height: 77px;
    }

    .staff {margin: 0 25px;}
    #channels-box {
        display: flex;
        justify-content: space-around;
    }

    #channels-box img {margin: initial;}
}